{% extends "base.html" %}
{% block title %}Iniciar sesión - Gestor{% endblock %}

{% block content %}
  <div class="card">
    <h2>🔐 INICIO DE SESIÓN</h2>

    <form method="POST" action="{{ url_for('login') }}" class="form">
      <label>👤 Usuario (email)</label>
      <input type="email" name="email" placeholder="tu@email.com" required>

      <label>🔒 Contraseña</label>
      <input type="password" name="password" placeholder="Contraseña" required>

      <button type="submit">Iniciar sesión</button>
    </form>

    <p class="small">¿No tenés cuenta? <a href="{{ url_for('register') }}">Registrate</a></p>
  </div>
{% endblock %}